[submodule "Task_1"]
	path = Task_1
	url = https://github.com/SashaCurry/Task_1
[submodule "Task_2"]
	path = Task_2
	url = https://github.com/SashaCurry/Task_2
[submodule "Task_3"]
	path = Task_3
	url = https://github.com/SashaCurry/Task_3
[submodule "Task_4"]
	path = Task_4
	url = https://github.com/SashaCurry/Task_4
[submodule "Task_5"]
	path = Task_5
	url = https://github.com/SashaCurry/Task_5
