[submodule "Task_1"]
	path = Task_1
	url = https://github.com/SashaCurry/Task_1
[submodule "Task_2"]
	path = Task_2
	url = https://github.com/SashaCurry/Task_2
[submodule "Task_3"]
	path = Task_3
	url = https://github.com/SashaCurry/Task_3
[submodule "Task_4"]
	path = Task_4
	url = https://github.com/SashaCurry/Task_4
[submodule "Task_5"]
	path = Task_5
	url = https://github.com/SashaCurry/Task_5
[submodule "Task_6"]
	path = Task_6
	url = https://github.com/SashaCurry/Task_6
[submodule "Task_7"]
	path = Task_7
	url = https://github.com/SashaCurry/Task_7
[submodule "Task_8"]
	path = Task_8
	url = https://github.com/SashaCurry/Task_8
